nav {
  background-color: beige;
  width: 100%;
  border: 4px solid black;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}
nav > div {
  font-size: 250%;
  padding: 10px;
}
nav > div:first-child {
  background-color: blue;
  color:yellow !important;
}
nav > div:nth-child(2) {
  background-color: chocolate;
}
nav > div:nth-child(3) {
  background-color: darkgray;
  list-s
}