* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.main-piece {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 0px;
  min-height: 640px;
}
.heading {
  width: 550px;
  height: 400px;
  margin-right: 5%;
  padding: 20px;
}
.heading .logo img {
  width: 301px;
  height: 106px;
  margin-left: -28px;
}
.heading h2 {
  margin-top: -15px;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
}
.signin-wrapper {
  width: 390px;
  height: 460px;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 24px;
}
.signin-wrapper .signin-form {
  width: 390px;
  height: 350px;
  background-color: #ffffff;
  padding-top: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.input-data {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
.input-data .in {
  width: 380px;
  height: 60px;
  font-size: 17px;
  padding: 6px 2px;
  text-align: center;
  margin: 0 auto;
}

.input-data .in .indesign {
  background-color: rgb(255, 255, 255);
  width: 358px;
  height: 45px;
  font-size: 17px;
  padding-left: 10px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  color: #1d2129;
}
input:focus {
  outline: none !important;

  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 255, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 255, 1);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 255, 1);
}
.btn-container {
  text-align: center;
}
.btn-container .button-login {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  line-height: 48px;
  padding: 0 16px;
  width: 358px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
form .for-pass {
  text-align: center;
  margin: 15px 0;
}
form .for-pass a {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
}
form .hor-line {
  border-bottom: 1px solid #dadde1;
  margin: 25px 16px;
}
form .create-acc {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
form .create-acc a {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  font-weight: bold;
  display: inline-block;
  background-color: #48c72e;
  color: #ffffff;
}
.signin-form .signin-text {
  color: #1c1e21;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}
.signin-form .signin-text a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}
footer {
  display: block;
  padding-right: 20px;
}
#page-footer {
  padding-top: 10px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
footer .footer-container {
  color: #737373;
  margin: 0 auto;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding-right: 40px;
  min-width: 500px;
}
footer .footer-container ul {
  font-family: inherit;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 8px;
}
footer .footer-container .lang-list {
  margin: 10px 0px;
}
footer .footer-container ul a {
  font-family: Helvetica, Arial, sans-serif;
  color: #8a8d91;
}
footer .footer-container .lang-list .lang-items {
  margin-right: 7px;
}
footer .footer-container .foot-hor-line {
  border-bottom: 1px solid #dadde1;
  margin: 0px 3px;
}
footer .footer-container .lang-list .lang-items:last-child a {
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
  border-radius: 2px;
  border-radius: 2px;
  padding: 0px 8px;
  position: relative;
  vertical-align: middle;
  color: #4b4f56;
  font-weight: bolder;
  height: 18px;
  line-height: 18px;
  margin-right: 0;
  font-size: 16px;
}
footer .footer-container .all-links .all-links-items {
  margin-right: 15px;
  line-height: 1.5;
}
footer .footer-container .all-links .all-links-items a img {
  display: inline-block;
  width: 11px;
  margin-bottom: -2px;
}
.footer-container .copyright {
  font-size: 10px;
  margin-top: 20px;
}
@media only screen and (max-width: 1075px) {
  .heading h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 900px) {
  .main-piece {
    flex-direction: column;
    padding: 10px 0px;
  }
  .heading {
    width: 450px;
    height: 250px;
    margin: 0;
    padding-left: 30px;
    padding-top: 0;
    text-align: center;
  }
}
