* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-white {
  background-color: #f6f8fc;
}
main {
  margin: 30px 0px;
  width: 100%;
}
.main-container {
  width: 1400px;
  height: 780px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
/*Layout consists of five main blocks inside three rows. up row has two blocks, middle row has two blocks and the bottom row (footer) has one block*/
.main-container {
  background-image: -ms-linear-gradient(top left, #63a6f1 0%, #92c5ff 100%);

  background-image: -moz-linear-gradient(top left, #63a6f1 0%, #92c5ff 100%);

  background-image: -o-linear-gradient(top left, #63a6f1 0%, #92c5ff 100%);

  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0, #63a6f1),
    color-stop(1, #92c5ff)
  );

  background-image: -webkit-linear-gradient(top left, #63a6f1 0%, #92c5ff 100%);

  background-image: linear-gradient(to bottom right, #63a6f1 0%, #92c5ff 100%);
}

/*++++++++++++++++++++++++++++++the text holder and video player are in one block. Starts here*/
.main-container .text-video-wrapper {
  width: 83%;
  height: 23%;
  display: flex;
  margin-right: 30px;
}
/*+++++++++++++++++++++++++++The first block text holder starts here*/
.text-video-wrapper .text-wrapper {
  width: 45%;
  height: 100%;
}
.text-video-wrapper .text-wrapper {
  margin-right: 3%;
}
.text-video-wrapper .text-wrapper .text {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-video-wrapper .text-wrapper .text .line-1 {
  width: 80%;
  height: 20%;
  background-color: #6cadf4;
  margin-bottom: 10px;
}
.text-video-wrapper .text-wrapper .text .line-2 {
  width: 80%;
  height: 10%;
  background-color: #6cadf4;
  margin-bottom: 4%;
}
.text-video-wrapper .text-wrapper .text .line-3 {
  width: 20%;
  height: 30%;
  background-color: #6cadf4;
}
/*---------------------------------The first block text holder finishes here*/
/* ++++++++++++++++++++++next to text player video player holder starts here*/
.text-video-wrapper .video-wrapper {
  width: 55%;
  height: 100%;
}
.text-video-wrapper .video-wrapper .video-align {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}
.video-align .play-icon-wrapper {
  width: 20%;
  height: 100%;
}
.video-align .play-icon-wrapper .circle {
  width: 40px;
  height: 40px;
}
.video-align .play-icon-wrapper .circle {
  background-color: #80b9fa;
  border-radius: 50%;
}
.video-align .play-icon-wrapper .circle .triangle {
  width: 100%;
  height: 100%;
  clip-path: polygon(30% 20%, 84% 52%, 30% 84%);
}
/* ---------------------------------------   next to text player video player holder starts here*/
/*----------------------------------------------------the text holder and video player are in one block. Finishes here*/
/*+++++++++++++++++++++++++++++++List holder is other main block in the first row. it starts here*/
.main-container .list {
  position: relative;
  width: 14%;
}
.main-container .list .list-content {
  position: absolute;
  height: 146%;
  width: 100%;
}
.list .list-content .list-item {
  height: 7%;
  width: 100%;
  margin: 16px 0px;
}
.list .list-content .list-item:first-child {
  margin-top: 0px;
}
/*------------------  List holder is other main block in the first row. it starts here*/
/*-------------------------------------------------------------------------------------------The First row finishes here*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++the second row starts here. This row has two main blocks.
the first block keeps phone and big picture. The second block contains switch buttons and small picture*/

.phone-bigpic-wrapper {
  width: 69%;
  height: 64%;
  background-color: transparent;
  display: flex;
  margin-bottom: 30px;
}
/*+++++++++++++phone holder starts*/
.phone-bigpic-wrapper .phone {
  width: 25%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
  margin-right: 30px;
}
.phone .phone-wrapper {
  width: 100%;
  height: 100%;
}
.phone .phone-wrapper .topline-holder {
  width: 100%;
  height: 7%;
}
.phone .phone-wrapper .topline-holder .line {
  width: 40%;
  height: 2px;
  background-color: #80b9fa;
}
.phone .phone-wrapper .screen-holder {
  width: 100%;
  height: 80%;
  background-color: #80b9fa;
}
.phone .phone-wrapper .button-holder {
  width: 100%;
  height: 13%;
}
.phone .phone-wrapper .button-holder .button {
  width: 40px;
  height: 40px;
  border: 2px solid #80b9fa;
  border-radius: 50%;
}
/* -------------------phone holder finishes*/
/*++++++++++++++++++++ big picture holder starts*/
.phone-bigpic-wrapper .bigpic {
  width: 75%;
  height: 100%;
  padding: 0% 10%;
}
.bigpic .pic-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.ptop {
  padding-top: 30px;
}
.place-holder {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.place-holder .circle {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-left: 22%;
}
.place-holder .circle .circle-shape {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #75b2f6;
  margin-bottom: -18px;
  z-index: 10;
}
.place-holder .mountains {
  width: 100%;
  height: 80%;
  padding: 0% 20%;
}
.place-holder .mountains .mountain-clippath {
  width: 100%;
  height: 100%;
  background-color: #75b2f6;
  clip-path: polygon(70% 0%, 42% 51%, 24% 30%, 0% 66%, 100% 66%);
}
.pic-wrapper .three-dots {
  width: 100%;
  height: 10%;
}
.pic-wrapper .three-dots .dots-wrapper {
  width: 30%;
  height: 90%;
}
.pic-wrapper .three-dots .dots-wrapper .dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #75b2f6;
}
.pic-wrapper .three-dots .dots-wrapper .dots:nth-child(2) {
  margin: 0px 3px;
}
/*-----------------------big picture holder finishes*/
/*-----------------------phone and big picture place holder finishes*/
/*++++++++++++++++++++++++++++++++++++++++the second block of the second row starts. It keeps switch buttons and small picture holder */
.center-right {
  margin-left: 2%;
  width: 29%;
  height: 63%;
}
/* +++++++++++++++++ switch buttons start*/
.center-right .button-wrapper {
  width: 100%;
  height: 18%;
  display: flex;
  align-items: center;
}
.button-wrapper .buttons {
  width: 45%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.button-wrapper .buttons .button {
  position: relative;
  width: 66px;
  height: 35px;
  margin: 5px;
  padding: 2px;
}
.button-wrapper .buttons .button .on-off-holder {
  width: 59px;
  height: 32px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}
.button-wrapper .buttons .button .off {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #89befc;
}
.button-wrapper .buttons .button .on {
  position: absolute;
  top: 3px;
  right: 6px;
  width: 30px;
  height: 30px;
  background-color: #89befc;
  border-radius: 50%;
}
/*---------------------switch buttons finish*/
/*++++++++++++++++++++small picture starts*/
.smallpic {
  width: 100%;
  height: 82%;
  display: flex;
  align-items: flex-end;
  margin-top: 7px;
}
.smallpic .smallpic-wrapper {
  width: 100%;
  height: 90%;
}
.smallpic .smallpic-wrapper .place-holder {
  margin-top: 20%;
}
/*-------------------small picture finishes*/
/*------------------- the second row finishes*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++the third row (footer) starts*/
footer {
  width: 100%;
  height: 7%;
}
.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/*+++++++++++++++++++++  searchbar starts*/
.footer-container .searchbar {
  width: 69%;
  height: 100%;
  padding: 3px;
  margin-right: 2%;
}
.footer-container .searchbar .input-area {
  width: 80%;
  height: 100%;
  background: linear-gradient(to right, #65a8f2 0%, #7bb6f8 100%);
}
/*--------------------searchbar finishes*/
/*++++++++++++++++++++++++++++ social media icons start*/
.footer-container .icon-wrapper {
  width: 29%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container .icon-wrapper .icon {
  width: 13%;
  height: 100%;
  color: #89befc;
}
.footer-container .icon-wrapper .icon {
  font-size: 150%;
}
.footer-container .icon-wrapper .icon:nth-child(4) {
  font-size: 250%;
}
/*-------------------------social media icons finish*/
